<div class="row-md-1">
  <%= link_to "About", 'about#index' %>
</div>
<div class="row-md-1">
  <%= link_to "Contact", 'contact#index' %>
</div>
<div class="row-md-1">
  <%= link_to "Jobs", 'jobs#index' %>
</div>
<div class="row-md-1">
  <%= link_to "Meet the Team", 'developers#index' %>
</div>
<div class="row-md-6">
</div>
