<div class="container-fluid row">
	<div class="static-footer">
		<div class="container row-md-10">
			<div class="col-md-5">
				<div class="footer-logo">
					<%= link_to "BAZAAR", root_path %>
				</div>
				<div class="sub-logo">
					The College Marketplace
				</div>
			</div>
			<div class="col-md-2">
				<h5>KEEP LOOKING</h5>
					<%= render("welcome/footer/footer_categories") %>
			</div>
			<div class="col-md-2">
				<h5><span class="logo">BAZAAR</span> ON</h5>
				<%= render("welcome/footer/social_media") %>
			</div>
			<div class="col-md-3">
				<h5>MORE STUFF</h5>
					<%= render("welcome/footer/footer_misc") %>
			</div>
		</div>

		<div class="bottom-info row-md-2">
			<div class="container">
				<div class="col-md-6 text-bottom text-left">
					&copy; 2015 <span class="logo">BAZAAR</span>, Binc. All Rights unReserved.
				</div>
				<div class="col-md-6 text-bottom text-right">
			    	Made with <i class="fa fa-heart"></i> in Columbus, OH.
			</div>
			</div>
		</div>
	</div>
</div>