<div id="developers_content" class="container">
	<div class="header">
		The Bazaar Team
	</div>
	<hr>
	<div class="row" id="team_members">
		<div class="col-md-4 team_member">
			<span class="name">Churchill Ndonwie</span>

  			<%= link_to (image_tag "churchill_ndonwie.jpg",  width: '250', height: '300'), root_path %>

			<div class="about">
				<p>
					Churchill is a senior in the Health Information Management and Systems program at The Ohio State University. He is currently a part of the Buckeye Leadership Fellows program, ODI scholars program, and is the student chair for Taste of OSU. Churchill was born and raised in Cameroon until his family moved to the United States in 2007 in pursuit of the American Dream. Churchill has worked in a variety of places including on a farm, for a lobbyist group, in the hospitality industry, as a security officer and is currently working at the Wexner Medical Center as a student intern in Clinical Applications.
				</p>
			</div>
		</div>

		<div class="col-md-4 team_member">
			<span class="name">Sydney Hodge</span>

  			<%= link_to (image_tag "sydney_hodge.jpg",  width: '250', height: '300'), "http://www.sydneyhodge.com" %>

			<div class="about">
				<p>
					Sydney is a senior Computer Science and Engineering major at The Ohio State University. Her desire to work with computers, software, and design sprung from her upbringing in Cleveland, Ohio.  She is an active member of The Ohio State University campus where she partakes in a variety of student organizations and programs. She is a member of the Buckeye Leadership Fellows program, NEWPATH, and the National Society of Black Engineers. She formerly interned at Microsoft (2013) and Google (2014, 2015) where she gained real world experience and knowledge on the process that is taken to design, develop, and test software.
				</p>
			</div>
		</div>

		<div class="col-md-4 team_member">
			<span class="name">Kamari Wright</span>

  			<%= link_to (image_tag "kamari_wright.jpg",  width: '250', height: '300'), root_path %>

			<div class="about">
				<p>
					Kamari Wright is a junior majoring in Computer Science and Engineering at The Ohio State University. He is currently a part of the Buckeye Leadership Fellows program, Humanitarian Engineering &amp; Morrill Scholars Programs, and is also a part of the National Society of Black Engineers where he is on the Food Committee. Kamari created one of the first Minority Robotics Teams in Georgia where he lead the team as the captain throughout high school. 
				</p>
			</div>
		</div>
	</div>
</div>