<div class="all_products">
	<% for i in 0..10 do %>
		<% num = Random.rand(0...4) %> 
		<% if num == 0 %> 		
		  	<div class="products zero">
		  		<%= link_to (image_tag "zero.jpg",  width: '200', height: '225'), products_path %>
				<div class="product_info">
					<span class="product_name">Camera</span><br>
					<span class="product_price">$50.00</span>
				</div>
			</div>
		<% end %>
		<% if num == 1 %> 		
		  	<div class="products one">
		  		<%= link_to (image_tag "one.jpg",  width: '200', height: '225'), products_path %>
				<div class="product_info">
					<span class="product_name">Bike</span><br>
					<span class="product_price">$150.00</span>
				</div>
			</div>
		<% end %>
		<% if num == 2 %> 		
		  	<div class="products two">
		  		<%= link_to (image_tag "two.jpeg",  width: '200', height: '225'), products_path  %>
				<div class="product_info">
					<span class="product_name">Jacket</span><br>
					<span class="product_price">$100.00</span>
				</div>
			</div>
		<% end %>
		<% if num == 3 %> 		
		  	<div class="products three">
		  		<%= link_to (image_tag "three.jpg",  width: '200', height: '225'), products_path %>
				<div class="product_info">
					<span class="product_name">Macbook Air</span><br>
					<span class="product_price">$750.00</span>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
