<div id="jobs_content" class="container">
	<div class="header">
		Jobs
	</div>

	<div class="content">
		<p>
			The <span class="logo"> Bazaar</span> team is not currently looking for additions at the moment. However, if you wish to inform us of your talent, please feel free to email us at info@bazaartcm.com and we will be sure to get back with you.

			<br><br>

			Thank you,<br>
			The <%= link_to "team", 'developers#index' %> at <span class="logo">Bazaar</span>.
		</p>
	</div>
</div>