<div id="user_wrapper">
	<div id="users_content">
		<div id="user_title">
			Your Account
		</div>

		<div id="hist_setting">
			<div id="history_content">
				<div id="history_title" class="title">
					Order History

					<hr>

					<div id="history_content_title" class="container">
						<div class="row">
							<div class="col-md-3 heading">
								Order
							</div>
							<div class="col-md-3 heading">
								Date
							</div>
							<div class="col-md-3 heading">
								Total
							</div>
							<div class="col-md-3 heading">
								Completed
							</div>
						</div>
					</div>
					<hr>
				</div>

				<div id="history_items" class="container">
					<div class="row">
						<div class="col-md-3 history_item">
							Jacket
						</div>
						<div class="col-md-3 history_item">
							December 21, 2015
						</div>
						<div class="col-md-3 history_item">
							$180
						</div>
						<div class="col-md-3 history_item">
							Yes
						</div>
					</div>
				</div>

				<div id="history_items" class="container">
					<div class="row">
						<div class="col-md-3 history_item">
							Math Textboook
						</div>
						<div class="col-md-3 history_item">
							December 1, 2015
						</div>
						<div class="col-md-3 history_item">
							$90
						</div>
						<div class="col-md-3 history_item">
							Yes
						</div>
					</div>
				</div>

				<div id="history_items" class="container">
					<div class="row">
						<div class="col-md-3 history_item">
							Printer
						</div>
						<div class="col-md-3 history_item">
							November 2, 2015
						</div>
						<div class="col-md-3 history_item">
							$120
						</div>
						<div class="col-md-3 history_item">
							No
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="setting_content">
			<div id="setting_title" class="title">
				Settings
			</div>
			<hr>
			<div id="setting_name" class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="header">Name:
						</div>
						Joe Shmoe
					</div>
					<div class="col-md-3">
						<button type="button" id="edit_btn" class="btn">Edit</button>
					</div>
				</div>
			</div>
			<hr>
			<div id="setting_name" class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="header">Email:
						</div>
						JoeShmoe@blah.com
					</div>
					<div class="col-md-3">
						<button type="button" id="edit_btn" class="btn">Edit</button>
					</div>
				</div>
			</div>
			<hr>
			<div id="setting_name" class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="header">Facebook
						</div>
						JoeShmoe@blah.com
					</div>
					<div class="col-md-3">
						<button type="button" id="edit_btn" class="btn">Edit</button>
					</div>
				</div>
			</div>
			<hr>
			<div id="setting_name" class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="header">Phone Number:
						</div>
						555-555-5555
					</div>
					<div class="col-md-3">
						<button type="button" id="edit_btn" class="btn">Edit</button>
					</div>
				</div>
			</div>
			<hr>
			<div id="setting_name" class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="header">Password:
						</div>
						********
					</div>
					<div class="col-md-3">
						<button type="button" id="edit_btn" class="btn">Edit</button>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>