<div class="container" style="background-color: white"> 
	<!-- Three columns. -->
	<div class=".col-md-3">    
		<%= link_to "#", :target => "_blank" do %>
    	<i class="fa fa-facebook fa-2x"></i>
    <% end %>

    <%= link_to "#", :target => "_blank" do %>
    	<i class="fa fa-twitter fa-2x"></i>
    <% end %>
	</div>

	<div class=".col-md-6">
	</div>

	<div class=".col-md-3">
	</div>
</div>