<div class="container-fluid row">

  	<!-- Three columns --> 
    <div class="col-md-3 text-center vcenter">
			<%= link_to root_path do %>
				<i class="fa fa-bars fa-2x"></i>
		  <% end %>   
    </div>

    <div class="col-md-6 text-center">
		  <%= link_to root_path do %>
		    <%= image_tag "bazaar_logo_1.png", id: "logo", width: '200', height: '50' %>
		  <% end %>
    </div>
  
    <div class="col-md-3 text-right text-center vcenter">
			<%= link_to root_path do %>
				<i class="fa fa-shopping-cart fa-2x"></i>
		  <% end %>
    </div>

</div>