<h1 class="odd"> GET IT WHILE IT'S HOT </h1>

<div class="all_items">
	<% for i in 0..5 do %>
	<%= link_to item_path do %>
	  	<div class="items items_even">
			</div>
		<% end %>
	<% end %>
</div>

<div class="show_more">
</div>