<div id="wrapper">
	
	<!-- Main content. --> 
	<div class="main">

		<!-- Items being sold. --> 
		<div id="main_content">
			<%= render("content") %>
		</div>

		<!-- TODO(Kam): Next two divs (menu & shopping_bag) should be hidden, appropriately sized, and should slide out when their respective footer buttons are clicked. --> 
		<aside class="aside menu_aside">
			this is the menu div that will be hidden.
		</aside>

		<aside  class="aside shopping_bag_aside">
			this is the shopping bag that will be hidden.
		</aside>

	</div> <!-- /main -->	

	<!-- Footer. -->
	<footer class="navbar-fixed-bottom">
		<%= render("footer") %>
	</footer>

</div> <!-- /wrapper --> 
