<div id="wrapper">
	<!-- Main content. --> 
	<div class="main">
		<header class="navbar-top">
			<%= render("header") %>
		</header>

		<!-- Items being sold. --> 
		<div id="main-content">
			<%= render("welcome/main_content/content") %>
		</div>

	</div> <!-- /main -->	

	<!-- Footer. -->
	<footer class="navbar-bottom">
		<%= render("welcome/footer/footer") %>
	</footer>
</div> <!-- /wrapper --> 
