<div id="wrapper">
	
	<!-- Main content. --> 
	<div class="container">

		<!-- TODO(Kam): Next two divs (menu & shopping_bag) should be hidden, appropriately sized, and should slide out when their respective footer buttons are clicked. --> 
		<div id="menu">
		</div>

		<div id="shopping_bag">
		</div>

		<!-- Items being sold. --> 
		<div id="main_content">
			<%= render("content") %>
		</div>
	</div> <!-- /container -->	

	<!-- Footer. -->
	<div id="footer">
		<%= render("footer") %>
	</div>

</div> <!-- /wrapper --> 
