<!-- TODO(Syd/Kam): Figure out where to add a shopping cart at. -->
<div class="container-fluid row">
	<div class="static-header">
		<!-- div class="container row-sm-2">
			<div class="text-right top-buffer">
				<%= link_to "LOGIN", new_user_session_path %>
				|
				<%= link_to "SIGNUP", new_user_registration_path %>
			</div>
		</div>

		<div class="container row-sm-10">
			<div class="main-logo text-center">
				BAZAAR
			</div>
			<div class="sub-logo text-center">
				The College Marketplace
			</div>
		</div> -->

		<div class="container navigation row-sm-12">
			<%= render("welcome/header/navigation_bar") %>
		</div>
	</div>

	<div class = "alias-nav"></div>
</div>