<div id="user_content_wrapper">
	<ul>
		<li>
		    <%= link_to "#" do %>
		      <i class="fa fa-user fa-2x"></i>
		    <% end %>
			<ul>
        		<li><%= link_to "Cart", carts_path %></li>
				<li><%= link_to "Account", "#" %></li>
  				<li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>			
  			<ul>
		</li>
	</ul>
</div>