<div id="about_content" class="container">
	<div class="row header">
		About <span class="logo">Bazaar</span>
	</div>
	<div class="row content">
		<p>
			<span class="logo">Bazaar</span> TCM, Inc. is a company devoted to facilitating the convenient exchange of quality items among college students at The Ohio State University. The company began when the founder, Churchill Ndonwie, purchased furniture on the informal Ohio State University “Free and For Sale” Facebook group, and experienced difficulty searching for the items and getting them delivered. <span class="logo">Bazaar</span> hopes to become a coordinating platform for students to save money and reduce waste.

			<br><br>

			Presently, <span class="logo">Bazaar</span> offers a way for students to post, view, and coordinate pick up of items. <span class="logo">Bazaar</span> provides the platform for students to share their items as well as a method for the exchange of such items. <span class="logo">Bazaar</span> does not deal with the payment nor is the company liable for any issues that may arise from fallouts in the exchange of goods.

			<br><br>

			We hope that every experience you have with <span class="logo">Bazaar</span> is quick, simplistic, and positive. If it isn't, please feel free to <%= link_to "contact us", 'contact#index' %> here so that we can resolve this issue as soon as possible.

			<br><br>

			<span class="logo">Bazaar</span> on! 

			<br><br>
			Sincerely, <br>
			The <%= link_to "team", 'developers#index' %> at <span class="logo">Bazaar</span>.
		</p>
	</div>
</div>
