@import "compass";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

html, body {
	height: 100%;
}

body {
	font-family: 'helvetica';
	position: relative;
	background-color: #fff;
	color: #040D14;
}