@import "compass";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "products";
@import "devise";

html, body {
  height: 100%; 
}

body {
	font-family: 'Lucida Grande', 'Helvetica';
	position: relative;
	background-color: #fff;
	color: #040D14;
}