@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'helvetica';
	position: relative;
	background-color: #2C3E50;
	color: white;
}