$robinhood: #21CE99;
$white: #FFFFFF;

::selection {
  background-color: $robinhood;
  color: $white;
}

::-moz-selection {
  background-color: $robinhood;
  color: $white;
}

#developers_content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	@include flex-direction(column);

	min-height: 500px;
	height: auto !important;
	height: 500px;

	.header {
		margin-top: 15px;
		font-size: 36px;
	}

	hr {
		margin-top: 5px;
		width: 100%;
	}

	#team_members {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		@include flex-direction(row);

  		-webkit-flex: 1 1 auto;
				flex: 1 1 auto;

		margin-bottom: 15px;
	}

	img {
		margin: 25px 0;
	}

	.team_member {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		@include flex-direction(column);

		-webkit-flex-grow: 1;
			    flex-grow: 1;

		border-right: 1px solid #DDDDDD;

		.name {
			font-size: 22px;
		}
	}

}
