$gray: #B2B2B2;
$off_black: #333;
$robinhood: #21CE99;

::selection {
  background-color: $robinhood;
  color: #fff;
}

::-moz-selection {
  background-color: $robinhood;
  color: #fff;
}

.container-fluid, .row, .box_left, .box_right { 
	height: 100%;
}

.box_left {
	border-right: 1px solid $robinhood; 
}

.box_right {
}