$dark_robinhood: #040D14;
$gray: #B2B2B2;
$off_black: #333;
$robinhood: #21CE99;

::selection {
  background-color: $robinhood;
  color: #fff;
}

::-moz-selection {
  background-color: $robinhood;
  color: #fff;
}

.product_content {
	min-height: 350px;
	height: auto !important;
	height: 350px;

	.box_right {
		// overflow-y: auto;
	}

	.box_left {

		// display: -webkit-box;
		// display: -moz-box;
		// display: -ms-flexbox;
		// display: -webkit-flex;
		// display: flex;  

		// @include flex-direction(column);

		// overflow: hidden;
		// position: relative;
		// top: 20px;
	}
}
