@import "footer";
@import "main_content";
@import "header";

$dark_robinhood: #040D14;
$gray: #B2B2B2;
$grayish_white: #ECEAEB;
$off_black: #333333;
$robinhood: #21CE99;
$white: #FFFFFF;
$white_smoke: #ECECEC;

::selection {
  background-color: $dark_robinhood;
  color: $white;
}

::-moz-selection {
  background-color: $dark_robinhood;
  color: $white;
}
