$gray: #B2B2B2;
$off_black: #333;

#wrapper{ 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  

	@include flex-direction(column);
	min-height: 100vh;
	position: relative;
}


a {
	color: $off_black;
	font-size: 13px;
}

.vcenter {
	padding-top: 1em;
}

header {
	background-color: white;
}

.shopping_bag_aside {
	display: none;
}

.menu_aside {
	display: none;
}

.fa { 
	color: $off_black;
}

.fa:hover {
	color: $gray;
}

footer {
	background-color: white;
}
