<div class="container-fluid">
	<header class = "navbar-fixed-top">
		<%= render("welcome/header/header") %>
	</header>
	<div class="row">
		<div class="col-lg-4 box_left">
			Left container.
		</div>
		<div class="col-lg-8 box_right">
			Right container.
		</div>
	</div>

	<footer class = "navbar-fixed-bottom">
		<%= render("welcome/footer/footer") %> 
	</footer>
</div>
