<div class="product_content container-fluid">
	<div class="col-lg-4 box_left">
		<div id="product_title" class="temp">
			<h1> Product Title </h1>
		</div>

		<div class="temp">
			test
		</div>

		<div class="temp">
			test 2
		</div>

		<div class="temp">
			test 3
		</div>
	</div>

	<div class="col-lg-8 box_right">
	</div>
</div>

